
.bg-login {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;

}

.tblblock thead tr{
  display:block;
  white-space: nowrap;
}
.tblblock {
table-layout: fixed;
border-collapse: collapse;
}

.tblblock  tbody{
display:block;
height:400px;
width:100%;
white-space: nowrap;
overflow: auto;
}

.select-disabled-style {
  background-color: #f0f0f0;
  border: solid 1px silver;
}

#navbarSupportedContent a:hover .nav-link {
background-color: aliceblue;
color: #005580;
border-radius: 3px;
}

#navbarSupportedContent .nav-link {

color: white;
/* box: inset 0 0 0 3px #3a7999; */
display: block;

}

.mensaje-style-error {
  margin-bottom: 10px;
  background-color: #faafaf;;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #570a0a;
}
.mensaje-style-success {
  margin-bottom: 10px;
  background-color: #a4e3a4;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #036003;
}
.mensaje-style-warning {
  margin-bottom: 10px;
  background-color: #fafa61;;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #5a5a2a;
}

.background-color-mensaje-success {
  background-color: #b8e1b8;
  color: green;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.background-color-mensaje-error {
  background-color: #da2525;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#navbarNav ul li:hover .nav-link {
background-color: aliceblue;
color: #005580;
border-radius: 3px;
}
#navbarNav ul li .nav-link {

color: white;
/* box: inset 0 0 0 3px #3a7999; */
display: block;

}
.navbar{
    background-color: red;
  }
  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.timer-style {
  text-align: center;
  background: #005580;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.notification {
  background-color: aliceblue;
  color: #005580;
  text-decoration: none;
  padding: 5px 5px;
  position: relative;
  display: block;
  border-radius: 3px;
  /* box: inset 0 0 0 3px #3a7999; */
  text-decoration: none;
}

.notification:hover {
  background-color: aliceblue;
  color: #005580;
  border-radius: 3px;
  text-decoration: none;
}

.notification .badge {
  position: absolute;
  top: 10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}


/* START BTNS DE CONTROL */
#btnBuscarGRAL {
  color: #6E736D;
}
/* END BTNS DE CONTROL */
#listaespera {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#detalleoferta {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#detalleprotegidos {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#detallenoprotegidos {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#tblNotasDeCredito {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#tblOFC{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#tblEntregaVista {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;  
}

#tblbackOrderTable {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}

#tblComisiones {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}

#tbl_pedidos_dl_dia {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}

#tblMapaRelaciones {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}

#tblEntradaArticulos {  
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}

#tblOfvCliente {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
  width: 100%;
}

#tblOfvFecha {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
  width: 100%;
}

#tblOfvClienteFecha {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
  width: 100%;
}

#tbl_kit_venta {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-height: 550px;
}


/* START CARACTERISTICAS TABLA ARTICULOS */

.table thead {
  background-color: #336599;
  color: white;
}

.table tbody {
  background-color: white;
}

#ultimoPrecio {
  color: green;
}

#eliminarFila {
  color: red;
}



/* START CARACTERISTICAS TABLA ARTICULOS*/


#nav-tabContent {
  background-color: #f8f8f8;
  padding: 15px;
}

#tblFactuaComun {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.tabla-responsiva {
  display: block;
  overflow-x: auto;
  white-space: nowrap;    
}



.formato-font-design label {
padding-right: 0px; 
padding-bottom:  0px;
}

textarea {
  background-color: #ffff002e !important;
}

.btn-arcos-style {
  font-size: 1.6rem; 
  color: white;
}

.formato-font-design select {
  width: 90%; 
  height:22px;
  font-size: .7rem;
}

.formato-font-design textarea {
  font-size: .7rem;
}

.formato-font-design {
  font-size: .7rem !important;  
}

.formato-font-design input {
 width: 90%;
 font-size: .7rem;
}

/* .formato-font-design input[type="checkbox"] {
  width: 6%;
} */


.cursor{
  cursor: pointer;  
}     

  /* START DISEÑO DE MODALES */
  .modal-header {
    background-color: #336599;
    color: white;
  }
  .modal-header button {
    color: white;
  }
   /* END DISEÑO DE MODALES */

#btnFoot {
  margin-bottom: 30px;
  margin-top: 30px;
}

#listaDeQuerys li {
  list-style: none;
}

#listaDeQuerys a li i { 
  color: orange;
}

/* input[type="checkbox"] {
  width: 0%;
} */

table select {
  border: none;
}