<footer>
  <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>  
  <script type="text/javascript" src="../../js/popper.js"></script>
  <script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../js/app.js"></script>
  <script type="text/javascript" src="../../js/numeroAletras.js"></script>
  <script type="text/javascript" src="../../js/fontawesome-all.js"></script>
  <script type="text/javascript" src="../../js/moment.js"></script>
  <script type="text/javascript" src="../../js/validador_permisos.js"></script>
</footer>